#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.dropdown {
 background-color: #1f1f1f00;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: 2px solid rgb(142, 140, 140);
  cursor: pointer;
  margin-left:70%;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav-link{
  color: white;
  font-size: 15px;
}
.Avl-crs h1{
  text-align: center;
  font-size: 40px;
  margin-top:30px ;
  color: #404040;
}
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 300px;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  
  width: 250px;
}

div.gallery-item:hover {
  border: 1px solid #777;
 box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
background-color: #f1f1f1;

}

div.gallery-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}
button{
  background-color: rgb(0, 89, 255);
  height: 40px;
  width: 100px;
  color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-left: 37px;

}
